body {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  font-size: $regular-size;
  .signup--container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    .signup--card {
      box-shadow: 0px 0px 5px 1px $opacity-20;
      border-radius: $br-16;
      padding: $space-64;
      .signup--title {
        font-size: $title-size;
        font-weight: $title-weight;
        margin: $space-0;
        padding: $space-0;
      }
      .signup--account {
        display: block;
        padding-top: $space-16;
        font-size: $regular-size;
        font-weight: $regular-weight;
        .signup--account-link {
          color: $default-color;
          &:hover {
            color: $hover-color;
          }
          &:active {
            color: $active-color;
          }
        }
      }
      .text--error {
        display: block;
        padding-top: $space-16;
        padding-bottom: $space-16;
        font-size: $small-title-size;
        font-weight: $regular-weight;
        color: $error-color;
        // visibility: hidden;
      }
    }
  }
}

.signup {
  .signup--section {
    display: flex;
    flex-direction: column;
    .signup__label {
      font-size: $small-title-size;
      font-weight: $regular-weight;
      padding-bottom: $space-4;
    }
    .signup__input {
      width: 320px;
      height: 32px;
      font-family: $font-primary;
      font-size: $regular-size;
      color: $black-color;
      border: 1px solid $default-color;
      padding: 0 $space-8;
      border-radius: $br-4;
      &:hover {
        border: 1px solid $hover-color;
      }
      &:active {
        border: 1px solid $active-color;
      }
    }
    .signup--text-spacing {
      padding-top: $space-4;
      .signup__password-link {
        display: block;
        font-size: $regular-size;
        font-weight: $regular-weight;
        color: $default-color;
        text-decoration: none;
        -top: $space-2;
        &:hover {
          color: $hover-color;
        }
        &:active {
          color: $active-color;
        }
      }
    }
  }
  .signup--spacing {
    padding-top: $space-40;
  }
  .signup__button {
    padding-top: $space-40;
    .signup__button-type {
      padding: $space-8 $space-16;
      font-family: $font-primary;
      font-size: $regular-size;
      font-weight: $regular-weight;
      color: $white-color;
      background-color: $default-color;
      border: none;
      border-radius: $br-4;
      cursor: pointer;
      &:hover {
        background-color: $hover-color;
      }
      &:active {
        background-color: $active-color;
      }
    }
  }
}
